<section>
  <header>
    <div class="section-title">
      <h2>{{ titulo }}</h2>
      <app-info-tooltip
        [message]="tooltipMessage"
        width="200px"></app-info-tooltip>
    </div>
    <div class="pagination" *ngIf="paginationPosition === 'top'">
      <app-pagination-button
        direction="left"
        [disabled]="isDecreaseButtonDisabled()"
        (clickEvent)="onPaginationDown()"></app-pagination-button>
      <app-pagination-button
        direction="right"
        [disabled]="isIncreaseButtonDisabled()"
        (clickEvent)="onPaginationUp()"></app-pagination-button>
    </div>
  </header>
  <div
    class="cards-container"
    [style.grid-template-rows]="'repeat(' + rows + ' , 1fr)'"
    [style.grid-template-columns]="'repeat(' + visibleColumns + ' , auto-fit)'">
    <app-pagination-button
      *ngIf="paginationPosition === 'sides'"
      class="pagination__button-sides-left"
      direction="left"
      [disabled]="isDecreaseButtonDisabled()"
      (clickEvent)="onPaginationDown()"></app-pagination-button>
    <ng-container *ngFor="let pokemon of pokemonsNameList; let i = index">
      <app-pokemons-card
        *ngIf="isCardVisible(i)"
        [size]="cardSize"
        class="pokemon-card"
        [nameOrId]="pokemon"></app-pokemons-card>
    </ng-container>
    <app-pagination-button
      *ngIf="paginationPosition === 'sides'"
      class="pagination__button-sides-right"
      direction="right"
      [disabled]="isIncreaseButtonDisabled()"
      (clickEvent)="onPaginationUp()"></app-pagination-button>
  </div>
</section>
