section {
  width: 1238px;

  h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    color: #2f3e77;
  }

  div.cards-container {
    display: flex;
    gap: 32px;
  }
}
