<div
  *ngIf="drawerConfig.state !== 'closed'"
  [class]="'pokemon-drawer pokemon-drawer-' + drawerConfig.state"
  clickAway
  (clickAway)="onCloseDrawer()">
  <ng-container *ngIf="!drawerConfig.loading && !drawerConfig.error && pokemon">
    <h2 class="drawer__pokemon-name">{{ pokemon.name | titlecase }}</h2>
    <div class="drawer__subtitle">
      <span class="drawer__subtitle-pokemon-id">Cód: #{{ pokemon.id }}</span>
      <div class="drawer__subtitle-pokemon-types">
        <span>Tipo:</span>
        <app-pokemon-type-badge
          *ngFor="let type of pokemon.types"
          [pokemonType]="type.type.name"></app-pokemon-type-badge>
      </div>
    </div>
    <div class="drawer__pokemon-sprites-container">
      <img
        class="drawer__pokemon-sprites-highlighted"
        [src]="selectedSprite.link"
        [alt]="selectedSprite.name + '-pokemon-sprite'" />
      <div
        class="drawer__pokemon-sprites-all"
        [style.overflow-x]="pokemonSprites.length > 4 ? 'scroll' : 'hidden'">
        <img
          *ngFor="let sprite of pokemonSprites"
          [src]="sprite.link"
          [alt]="sprite.name + '-pokemon-sprite'"
          [title]="sprite.name + ' ' + pokemon.name"
          class="drawer__pokemon-sprites-sm"
          [class.drawer__pokemon-sprites-sm-selected]="sprite.selected"
          (click)="selectedSprite = sprite" />
      </div>
    </div>
    <app-pokemon-status [stats]="pokemon.stats"></app-pokemon-status>
    <app-pokemon-infos [pokemon]="pokemon"></app-pokemon-infos>
    <app-pokemon-description
      [description]="pokemonDescription"></app-pokemon-description>
  </ng-container>

  <app-loading
    class="drawer__state-loading"
    *ngIf="drawerConfig.loading"
    size="40"></app-loading>

  <div class="drawer__state-error" *ngIf="drawerConfig.error">
    <img
      src="../../../../assets//404-pikachu.png"
      alt="pokemon not found"
      width="50%" />
    <h3>
      Não foi possível encontrar o pokémon "{{ drawerConfig.nameOrId }}" :(
    </h3>
  </div>

  <app-pagination-button
    class="drawer__return-button"
    (clickEvent)="onCloseDrawer()"></app-pagination-button>
</div>
