<div class="home-page-container">
  <header class="header">
    <div class="header__left-side">
      <img src="../../../assets/logo.png" alt="logo" class="header__logo" />
      <div class="header__title">
        <h1 class="header__title-primary">Explore o mundo</h1>
        <h1 class="header__title-primary">dos</h1>
        <h1 class="header__title-secondary">Pokémons</h1>
      </div>
      <span class="header__subtitle"
        >Descubra todas as espécies de pokémons</span
      >
      <div class="header__search">
        <input type="text" class="header__search-input" />
        <button class="header__search-button">buscar</button>
      </div>
    </div>
    <img
      src="../../../assets/main.png"
      alt="pokemons banner"
      class="header__banner"
      height="464px" />
  </header>
  <main>
    <app-pokemons-section titulo="Mais procurados"></app-pokemons-section>
    <!-- <app-pokemons-section titulo="Pokédex"></app-pokemons-section> -->
  </main>
</div>
