<div
  [class]="'pokemon-card card' + nameOrId"
  [class.pokemon-card-selected]="cardConfig.selected"
  (click)="selectCard()">
  <ng-container *ngIf="!cardConfig.loading && !cardConfig.error && pokemon">
    <header>
      <span class="pokemon-name">{{ pokemon.name | titlecase }}</span>
      <span class="pokemon-id">#{{ pokemon.id }}</span>
    </header>
    <img
      class="pokemon-sprite"
      [src]="pokemon.sprites.front_default"
      alt="pokemon sprite" />
    <footer>
      <ul class="pokemon-charach-list">
        <li class="pokemon-charach charach-height">
          <span class="charach-key">Altura:</span>
          <span class="charach-value">{{ pokemon.height }}cm</span>
        </li>
        <li class="pokemon-charach charach-weight">
          <span class="charach-key">Peso:</span>
          <span class="charach-value">{{ pokemon.weight }}kg</span>
        </li>
      </ul>
    </footer>
    <span
      class="card-background"
      [class.card-background-visible]="cardConfig.selected"
      [ngStyle]="{
        'background-image': 'url(' + pokemon.sprites.front_default + ')'
      }"></span>
  </ng-container>

  <app-loading
    class="pokemon-card__state-loading"
    *ngIf="cardConfig.loading"
    size="30"></app-loading>

  <div class="pokemon-card__state-error" *ngIf="cardConfig.error">
    <img
      src="../../../assets//pikachu-surpreso.png"
      alt="pokemon not found"
      width="30%" />
    <span>Erro ao buscar esse pokémon :(</span>
  </div>
</div>
